
/*Open-Stats-Board
Filename:main.css
Author:P-UNKNOWN CSS


Color Scheme
Side bar backgroundcolor:rgba(255,255,255,0.2)

*/

/*Clean*/

/*================================Global================================*/

body {
    background-color: rgb(32,32,32);
}

span.glyphicon-align-justify { left:210px;}


/*Structure*/

/*================================Side Navigation================================*/ /*Clean*/
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 50px; /*0 gone, 250 show*/
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: left 2s; /* For Safari 3.1 to 6.0 */
    transition: left 2s;
}

#sidebar-wrapper:hover {
    left: 250px;

}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav li {
        text-indent: 20px;
        line-height: 40px;
    }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: rgb(144,144,144);
        }

            .sidebar-nav li a:hover {
                text-decoration: none;
                color: rgb(144,144,144);
                background: rgba(255,255,255,0.2);
            }

            .sidebar-nav li a:active,
            .sidebar-nav li a:focus {
                text-decoration: none;
            }

    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }

        .sidebar-nav > .sidebar-brand a {
            color: rgb(144,144,144);
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: rgb(144,144,144);
                background: none;
            }

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

        #wrapper.toggled {
            padding-left: 0;
        }

    #sidebar-wrapper {
        width: 230px;
        height: 25%;
        top: 5%;
        overflow: hidden;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*================================Body================================*/

#page-wrapper {
    padding: 0 15px;
    min-height: 600px;
    background-color: rgb(32,32,32);
    padding-left: 250px;
    padding-top: 1%;
}

.panel {
    background-color:transparent;
    border-color:transparent;
    border-radius: 0px;
    border-style:none;

    -moz-box-shadow: 1px 1px 7px #000;
    -webkit-box-shadow: 1px 1px 7px #000;
     box-shadow: 1px 1px 7px #000;
    
}

    /*News*/

#newsdiv {width: 500px;
          height: 350px;
}


form{ 

                    width:300px;
                    margin-left:auto;
                    margin-right:auto;
}


.form-control {
                    width:300px;
                    margin-left:auto;
                    margin-right:auto;
                    background-color:transparent;
                    border-style:none;

}

    

        .alert-success {
                    border-radius:0px;
                    width:90%;
                    margin-left:auto;
                    margin-right:auto;
                    height:100px;

                    -moz-box-shadow: 1px 1px 7px #000;
                    -webkit-box-shadow: 1px 1px 7px #000;
                    box-shadow: 1px 1px 7px #000;

                    }

        .alert-info {
                    border-radius:0px;
                    width:90%;
                    margin-left:auto;
                    margin-right:auto;
                    height:100px;

                    -moz-box-shadow: 1px 1px 7px #000;
                    -webkit-box-shadow: 1px 1px 7px #000;
                    box-shadow: 1px 1px 7px #000;

                    }

       .alert-warning {
                    border-radius:0px;
                    width:90%;
                    margin-left:auto;
                    margin-right:auto;
                    height:100px;

                    -moz-box-shadow: 1px 1px 7px #000;
                    -webkit-box-shadow: 1px 1px 7px #000;
                    box-shadow: 1px 1px 7px #000;

                    }

       .alert-danger {
                    border-radius:0px;
                    width:90%;
                    margin-left:auto;
                    margin-right:auto;
                    height:100px;

                    -moz-box-shadow: 1px 1px 7px #000;
                    -webkit-box-shadow: 1px 1px 7px #000;
                    box-shadow: 1px 1px 7px #000;

                    }

/*================================Footer & Credits================================*/

.footer {
    bottom: 1%;
    border-top: 1px solid #e5e5e5;
    color: #777;
    position: absolute;
    width: 100%;
}
