<div class=".container">


    <div class="col-md-12">
        <div class="panel panel-primary">
            Angel
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary" id="newsdiv">
            News
            <!-- Todos input -->
            <form role="form" ng-submit="addTodo()">
                <div class="row">
                    <div class="input-group">
                        <input type="text" ng-model="todo" placeholder="Enter News or Notifications" class="form-control">
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-primary" value="Add" />
                        </span>
                    </div>
                </div>
            </form>
            <p></p>

            <!-- Todos list -->
            <div ui-sortable ng-model="todos">
                <p class="input-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
                    <input type="text" ng-model="todo" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove"><span class="glyphicon glyphicon-remove"></span></button>
                    </span>
                </p>
            </div>

            <!-- Todos input -->
            <!-- Todos list -->
            <!--<div ui-sortable ng-model="todos">
                <p class="input-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
                    <input type="text" ng-model="todo" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove"><span class="glyphicon glyphicon-remove"></span></button>
                    </span>
                </p>
            </div>


            News
            <div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-remove"></span>...</div>
            <div class="alert alert-info" role="alert"><span class="glyphicon glyphicon-remove"></span>...</div>
            <div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-remove"></span>...</div>
            <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-remove"></span>...</div>
            News-->
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            Other Stats
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            Trend
            <div id="chart"></div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-primary">
            Knob
        </div>
    </div>

</div>



<!--Temporary script location-->
<script>

        var data = [{ x: 0, y: 40 }, { x: 1, y: 49 }, { x: 2, y: 17 }, { x: 3, y: 42 }];

        var graph = new Rickshaw.Graph({
            element: document.querySelector("#chart"),
            width: 500,
            height: 50,
            series: [{
                color: 'steelblue',
                data: data
            }]
        });

        graph.render();

</script>