<div class=".container">


    <div class="col-md-12">
        <div class="panel panel-primary">
            Angel
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary" id="newsdiv">
            News
            <!-- Todos input -->
            <form role="form" ng-submit="addTodo()">
                <div class="row">
                    <div class="input-group">
                        <input type="text" ng-model="todo" placeholder="Enter News or Notifications" class="form-control">
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-primary" value="Add" />
                        </span>
                    </div>
                </div>
            </form>
            <p></p>

            <!-- Todos list -->
            <div ui-sortable ng-model="todos">
                <p class="input-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
                    <input type="text" ng-model="todo" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove"><span class="glyphicon glyphicon-remove"></span></button>
                    </span>
                </p>
            </div>


            <!-- Todos input                         <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong> 
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                            </small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong> 
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel .chat-panel -->
            <!-- Todos list -->
            <!--<div ui-sortable ng-model="todos">
                <p class="input-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
                    <input type="text" ng-model="todo" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove"><span class="glyphicon glyphicon-remove"></span></button>
                    </span>
                </p>
            </div>


            News
            <div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-remove"></span>...</div>
            <div class="alert alert-info" role="alert"><span class="glyphicon glyphicon-remove"></span>...</div>
            <div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-remove"></span>...</div>
            <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-remove"></span>...</div>
            News-->
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            Other Stats
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            Trend
            <div id="chart"></div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-primary">
            Knob
        </div>
    </div>

</div>



<!--Temporary script location-->
<script>

        var data = [{ x: 0, y: 40 }, { x: 1, y: 49 }, { x: 2, y: 17 }, { x: 3, y: 42 }];

        var graph = new Rickshaw.Graph({
            element: document.querySelector("#chart"),
            width: 500,
            height: 50,
            series: [{
                color: 'steelblue',
                data: data
            }]
        });

        graph.render();

</script>